@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* ___________________________________________________________________________________ */
/* Basic styling */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}


/* __________________________________________________________________________________________ */
/* Navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s;
}

.navbar.top {
  background: transparent;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar a:hover, .navbar a.current{
  background: #67aeca;
}

.navbar ul {
  display: flex;
  padding-top: 16px;
  align-items: center;
}

.navbar .logo {
  font-weight: 400;
}


/* __________________________________________________________________________________________ */
/* Header */

.hero {
  background: url('../images/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 55px;
}

.hero .content p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6); /* Is voor de overlay */
}

.hero * {
  z-index: 10;/* Is voor dat de tekst over de overlay komt */
}

.hero.header {
  background-image: url('../images/home/blog.jpg') no-repeat center center/cover;
  height: 30vh;
}


/* ____________________________________________________________________________________________ */
/* Pop-up */

#afspraken-popup {
display: none;
position: fixed; 
z-index: 1000; 
padding-top: 200px;
left: 0;
top: 0;
width: 100%; 
height: 100%; 
background-color: rgba(0,0,0,0.4);
}

#afspraken-popup h1 {
  color: #333;
  padding-bottom: 20px;
}

/* Datepicker & timepicker styling */
.gj-icon {
  left: 154px; 
}

.gj-datepicker, .gj-timepicker {
  width: max-content;
  display: inline-block;
  padding-right: 60px;
  padding-bottom: 20px;
}

.gj-dropdown {
  display: inline-block;
  padding-right: 60px;
  padding-bottom: 20px;
  width: 238px;
}
/* 
.form-popup .gj-picker-md [role="header"] {
  background: red;
} */

.form-popup {
z-index: 9;
max-width: 600px;
margin: 0 auto;
}

/* Form-container styling */
.form-container {
max-width: 600px;
padding: 20px;
background-color: #fff;
}

.form-container input[type=text] {
width: 100%;
padding: 10px;
margin: 5px 0 22px 0;
border: none;
background: #eee;
}

.form-container input[type=text]:focus {
background-color: #ddd;
outline: none;
}


/* Button styling */
.form-container .btn {
width: 100%;
margin-bottom: 10px;
opacity: 0.8;
}

.form-container .btn:hover {
opacity: 1;
}


/* ____________________________________________________________________________________________ */
/* Icons */

.icons {
  padding: 20px;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.icons i {
  background-color: #67aeca;
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 15px;
}


/* ______________________________________________________________________________________ */
/* Salon */

.salon img:hover {
  opacity: 0.7;
}


/* ____________________________________________________________________________________________ */
/* Team */

.team img {
  border-radius: 50%;
}


/* ______________________________________________________________________________________________ */
/* Callback Form */

.callback-form {
  width: 100%;
  padding: 20px 0;
}

.callback-form label {
  display: block;
  margin-bottom: 5px;
}

.callback-form .form-control {
  margin-bottom: 15px;
}

.callback-form input {
  width: 100%;
  padding: 4px;
  height: 40px;
  border: #f5f5f5 1px solid;
}

.callback-form input:focus {
  outline-color: #67aeca;
}

.callback-form .btn {
  padding: 12px 0;
  margin-top: 20px;
}


/* _________________________________________________________________________________________ */
/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #67aeca;
}

.footer .social > * {
  margin-right: 30px;
}


/* ________________________________________________________________________________________________ */
/* Mobile */

@media(max-width:768px) {
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }

  .navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }

  .flex-items {
    flex-direction: column;
  }

  .flex-columns .column, .flex-grid .column {
    flex: 100%;
    max-width: 100%;
  }

  .team img {
    width: 70%;
  }
}


/* _____________________________________________________________________________________________ */
/* Cards */

.flip-card {
  margin: 20px;
  background-color: transparent;
  width: 348px;
  height: 380px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  padding-top: 20px;
  box-shadow: 8px 8px 8px -2px #333;
  background-color: #67aeca;
  color: white;
}

.flip-card-front h1 {
  padding: 36px;
}

.flip-card-back {
  background-color: #bbb;
  color: black;
  transform: rotateY(180deg);
  box-shadow: 8px 8px 8px -2px #333;
}

.flip-card-back th {
  padding-left: 52px;
  padding-top: 20px;
  padding-bottom: 16px;
  text-align: left;
}

.flip-card-back td {
  padding-left: 52px;
  text-align: left;
}

.flip-card-back p {
  padding-top: 64px;
  font-size: small;
}
